---
import BaseLayout from "../../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { tryGetEventDataAsync } from "../../../../scripts/db";

export const prerender = false;
const { eventSlug, tableSlug } = Astro.params;
const guestName = Astro.url.searchParams.get("guestName");

const event = await tryGetEventDataAsync(eventSlug!);
if (event == null)
    return new Response(null, {
        status: 404,
        statusText: `cannot find event ${eventSlug}`,
    });

const tables = event.tables.filter((table) => table.tableId == tableSlug);
if (tables.length == 0 || tables.length > 1)
    return new Response(null, {
        status: 404,
        statusText: `cannot find table ${tableSlug}`,
    });

const table = tables[0];
const imageURL = table.imageUrl;
---

<BaseLayout>
    <div class="h-dvh p-4 bg-pink-100 flex flex-col">
        <section class="flex justify-center">
            <p>welcome {guestName}</p>
        </section>
        <section class="grow flex flex-col justify-center items-center">
            <Image
                src={imageURL}
                alt={"image for table " + tableSlug}
                width="1000"
                height="1000"
                class="p-4 bg-white rounded-lg"
            />
        </section>
        <section class="w-full flex justify-center">
            <a
                href=`/e/${eventSlug}`
                class="font-bold text-red-500/40 border-2 rounded-lg px-16 py-2"
                >Back</a
            >
        </section>
    </div>
</BaseLayout>
